/* Main */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Ad */
.ad {
  background-color: var(--accent);
}
.ad-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}
.ad-top-content p,
.ad-top-content a {
  font-size: 14px;
  color: var(--accent-2);
}
.text-promo strong {
  text-decoration: underline;
}
.ad-top-content a {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

/* Navbar */
.nav {
  position: relative;
  z-index: 9;
  background-color: var(--white);
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
}
.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}
.nav-title {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}
.nav-title svg {
  margin-right: 5px;
}
.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.nav-ul li:nth-child(-n + 4) {
  margin-right: 20px;
}
.nav-li a {
  font-weight: 500;
  color: var(--black);
}
.nav-li a.active {
  color: var(--primary);
  text-decoration: underline;
}

.btn-cart {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-1);
  color: var(--primary);
  padding: 10px 24px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
}
.btn-cart svg {
  margin-right: 3px;
}
.btn-cart-count {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 2px 8px;
  font-size: 12px;
  border: 2px solid var(--white);
  border-radius: 100px;
  background-color: var(--accent);
}

.btn-cart-price {
  position: absolute;
  bottom: -10px;
  right: 0;
  padding: 2px 8px;
  font-size: 12px;
  border: 2px solid var(--white);
  border-radius: 100px;
  background-color: var(--accent);
}

/* Home */
.home,
.products,
.about,
.contact,
.cart,
.product-details,
.credits {
  padding: 40px 0;
}
.home-container {
  position: relative;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/drbu50m1e/image/upload/v1676902826/grocery-store/bowl_of_fruits_ka5o8i.png');
  background-position: left 300px bottom 50%;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 10px 100px rgb(0 0 0 / 5%);
  height: 600px;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding: 80px;
  border-radius: 20px;
}
.home-content p {
  margin: 20px 0;
}
.btn-home {
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 100px;
  background-color: var(--primary);
}
.home-image {
  width: 100%;
}

/* Products */
.products h1 {
  margin-bottom: 20px;
}
.products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-rows: repeat(2, 1fr); */
  column-gap: 20px;
  row-gap: 20px;
}

/* Product */
.product-content {
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 100px rgb(0 0 0 / 5%);
}
.product-image {
  display: block;
  width: 100%;
  height: auto;
}
.product-info p {
  color: var(--secondary);
}
.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product-price span {
  font-size: 20px;
  font-weight: 700;
}
.product-btns {
  display: flex;
  align-items: center;
  background-color: var(--primary-1);
  border-radius: 100px;
  color: var(--primary);
}
.product-btn-add {
  display: flex;
  align-items: center;
  color: var(--primary);
  background-color: var(--primary-1);
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
  height: 24px;
}
.product-btn-add svg {
  margin-right: 3px;
}

/* Cart */
.cart-content-grid {
  display: grid;
  grid-template-columns: 66.66% 33.33%;
  column-gap: 10px;
  margin-top: 20px;
}
.cart-content h1 span {
  font-weight: 400;
}

.cart-content-product {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
}
.cart-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart-info-top p {
  color: var(--secondary);
}
.cart-info span {
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary);
  border-radius: 100px;
  background-color: var(--secondary-1);
  align-self: baseline;
}
.cart-price-info {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.cart-price-info h3 {
  text-align: right;
}

.cart-content-bill {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
}
.bill-info {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid var(--secondary-1);
  border-bottom: 1px solid var(--secondary-1);
}
.subtotal,
.order-price {
  display: flex;
  justify-content: space-between;
}
.subtotal p {
  font-weight: 500;
}
.order-price {
  margin-top: 10px;
}
.order-price p {
  font-size: 14px;
  color: var(--secondary);
}

.bill-total {
  display: flex;
  justify-content: space-between;
}
.bill-total p {
  font-weight: 500;
}

.btn-checkout {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 24px;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

/* Product details */
.product-details-content {
  display: flex;
  flex-direction: row;
}
.product-details-image {
  width: 66.66%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.product-details-right {
  width: 33.33%;
}
.product-details-info {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  box-shadow: 0 10px 100px rgb(0 0 0 / 5%);
}
.product-details-category {
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary);
  border-radius: 100px;
  background-color: var(--secondary-1);
}
.product-details-info .product-btns {
  align-self: flex-start;
  margin-top: 10px;
}
.product-details-info h3 span {
  font-size: 16px;
  font-weight: 400;
}
.product-details-category-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}
.btn-favorite {
  color: var(--secondary);
  cursor: pointer;
}
.product-details-info-bottom {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 10px 100px rgb(0 0 0 / 5%);
}
.product-details-nutritions {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid var(--secondary-1);
  border-bottom: 1px solid var(--secondary-1);
}
.product-details-nutritions ul {
  list-style-type: none;
}
.product-details-nutritions ul li {
  font-weight: 500;
}
.product-details-nutritions ul li span {
  font-weight: 400;
  color: var(--secondary);
}

.product-details-info-title {
  font-weight: 500;
  margin-top: 20px;
}
.product-details-description {
  font-weight: 500;
}

/* Footer */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
}
.footer-content p {
  font-size: 14px;
}
.footer-content ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}
.footer-content ul li:nth-child(-n + 4) {
  margin-right: 20px;
}
.footer-content ul li a {
  font-size: 14px;
}

/* Credits */
.credits p {
  margin: 20px 0;
}
.credit-link {
  font-weight: 700;
  text-decoration: underline;
}
.credits ul {
  padding-left: 16px;
}

/* Loader */
.loader {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 9;
  width: 50px;
  height: 50px;
  border-top: 4px solid var(--black);
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}
@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
