/* Main */
.container {
  max-width: 1200px;
  margin: 0 auto;
}

/* Ad */
.ad {
  background-color: var(--accent);
}

.ad-top-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 40px;
}

.ad-top-content p,
.ad-top-content a {
  font-size: 14px;
  color: var(--accent-2);
}

.text-promo strong {
  text-decoration: underline;
}

.ad-top-content a {
  font-weight: 500;
  display: inline-flex;
  align-items: center;
}

/* Navbar */
.nav {
  position: relative;
  z-index: 9;
  background-color: var(--white);
  box-shadow: 0 5px 20px rgb(0 0 0 / 5%);
}

.nav-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
}

.nav-title {
  display: inline-flex;
  align-items: center;
  font-size: 20px;
  font-weight: 700;
}

.nav-title svg {
  margin-right: 5px;
}

.nav-ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.nav-ul li:nth-child(-n + 5) {
  margin-right: 20px;
}

.nav-li a {
  font-weight: 500;
  color: var(--black);
  transition: opacity 200ms;
}

.nav-li a:hover {
  opacity: .6;
}

.nav-li a.active {
  color: var(--primary);
  text-decoration: underline;
}

.nav-li-favorite {
  position: relative;
}

.nav-li-favorite a {
  display: flex;
  align-items: center;
  column-gap: 5px;
}

.favorite-count {
  position: absolute;
  top: -10px;
  left: 10px;
  padding: 2px 6px;
  font-size: 8px;
  color: var(--white);
  border: 2px solid var(--white);
  border-radius: 100px;
  background-color: var(--accent-5);
}

.btn-cart {
  position: relative;
  display: flex;
  align-items: center;
  background-color: var(--primary-1);
  color: var(--primary);
  padding: 10px 24px;
  border-radius: 100px;
  font-weight: 700;
  cursor: pointer;
  transition: opacity 200ms;
}

.btn-cart svg {
  margin-right: 3px;
}

.btn-cart:hover {
  opacity: .6;
}

.btn-cart-count {
  position: absolute;
  top: -10px;
  right: 0;
  padding: 2px 6px;
  font-size: 10px;
  border: 2px solid var(--white);
  border-radius: 100px;
  background-color: var(--accent);
}

.btn-cart-price {
  position: absolute;
  bottom: -10px;
  right: 0;
  padding: 2px 6px;
  font-size: 10px;
  border: 2px solid var(--white);
  border-radius: 100px;
  background-color: var(--accent);
}

/* Home */
.home,
.products,
.about,
.contact,
.cart,
.product-details,
.credits,
.favorite {
  padding: 40px 0;
}

.home-container {
  position: relative;
  background-color: var(--white);
  background-image: url('https://res.cloudinary.com/drbu50m1e/image/upload/v1676917866/grocery-store/top-view-assortment-vegetables-grocery-bag_grd9dh.jpg');
  background-position: center center;
  background-repeat: no-repeat;
  background-size: 100%;
  box-shadow: 0 10px 500px rgb(0 0 0 / 5%);
  height: 600px;
  overflow: hidden;

  display: flex;
  align-items: center;
  padding: 80px;
  border-radius: 20px;
}

.home-content p {
  margin: 20px 0;
}

.btn-home {
  display: inline-block;
  color: var(--white);
  font-weight: 500;
  padding: 10px 24px;
  border-radius: 100px;
  background-color: var(--primary);
}

.home-image {
  width: 100%;
}

/* Products */
.products h1 {
  margin-bottom: 20px;
}

.products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

.related-products {
  padding: 20px 0;
}

.related-products h1 {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 20px;
}

.related-products-content {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: 1fr;
  column-gap: 20px;
  row-gap: 20px;
}

/* Product */
.product-content {
  position: relative;
  background-color: var(--white);
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 10px 100px rgb(0 0 0 / 5%);
}

.product-content .btn-favorite {
  position: absolute;
  top: 40px;
  right: 40px;
  z-index: 9;
}


.product-link {
  padding: 20px 0;
  display: flex;
  justify-content: center;
  background-color: var(--secondary-2);
  border-radius: 8px;
  transition: all 150ms ease-in;
}

.product-image {
  display: block;
  object-fit: contain;
  width: 164px;
  height: 164px;
  transition: all 150ms ease-in;
}

.product-link:hover .product-image {
  transform: scale(1.01) rotateZ(-2deg);
}

.product-info {
  margin-top: 20px;
}

.product-info p {
  color: var(--secondary);
  font-size: 14px;
}

.product-price {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.product-price h3 span {
  color: var(--secondary);
  font-size: 14px;
  font-weight: 400;
}

.product-btns {
  display: flex;
  align-items: center;
  background-color: var(--primary-1);
  border-radius: 100px;
  color: var(--primary);
}

.product-btn-add {
  display: flex;
  align-items: center;
  color: var(--primary);
  background-color: var(--primary-1);
  padding: 8px 16px;
  border-radius: 100px;
  cursor: pointer;
  font-weight: 500;
  height: 24px;
  transition: opacity 200ms;
}

.product-btn-add svg {
  margin-right: 3px;
}

.product-btn-add:hover {
  opacity: .6;
}

/* Cart */
.cart-content-grid {
  display: grid;
  grid-template-columns: 70% auto;
  column-gap: 20px;
  margin-top: 20px;
}

.cart-content h1 span,
.favorite-content h1 span {
  font-weight: 400;
}

.cart-content-product {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  margin: 10px 0;
  display: flex;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 10%);
}

.favorite-content-products {
  margin-top: 20px;
}

.cart-image a {
  display: flex;
  padding: 20px;
  background-color: var(--secondary-2);
  border-radius: 20px;
  transition: all 150ms ease-in;
}


.cart-image a img {
  display: block;
  width: 120px;
  height: 120px;
  object-fit: contain;
  transition: all 150ms ease-in;
}

.cart-image a:hover img {
  transform: scale(1.01) rotateZ(-2deg);
}

.cart-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.cart-info-top-details {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.cart-info-top p {
  color: var(--secondary);
}

.cart-info span {
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary);
  border-radius: 100px;
  background-color: var(--secondary-1);
  align-self: baseline;
}

.cart-price-info {
  margin-left: auto;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.cart-price-info h3 {
  text-align: right;
}

.cart-content-bill {
  background-color: var(--white);
  padding: 20px;
  border-radius: 20px;
  margin: 10px 0;
  display: flex;
  align-self: flex-start;
  flex-direction: column;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 10%);
}

.bill-info {
  margin: 20px 0;
  padding: 20px 0;
  border-top: 1px solid var(--secondary-1);
  border-bottom: 1px solid var(--secondary-1);
}

.subtotal,
.order-price {
  display: flex;
  justify-content: space-between;
}

.subtotal p {
  font-weight: 500;
}

.order-price {
  margin-top: 10px;
}

.order-price p {
  font-size: 14px;
  color: var(--secondary);
}

.bill-total {
  display: flex;
  justify-content: space-between;
}

.bill-total p {
  font-weight: 500;
}

.btn-checkout {
  background-color: var(--primary);
  color: var(--white);
  padding: 10px 24px;
  border-radius: 100px;
  cursor: pointer;
  margin-top: 10px;
  text-align: center;
}

/* Product details */
.product-details-content {
  display: grid;
  grid-template-columns: 70% auto;
  column-gap: 20px;
}

.product-details-image {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: var(--secondary-2);
  border-radius: 20px;
}

.product-link-back {
  display: flex;
  align-items: center;
  column-gap: 10px;
  color: var(--secondary);
  margin-bottom: 20px;
}

.product-link-back a:hover {
  opacity: .6;
}

.product-details-info {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 10%);
}

.product-details-category {
  padding: 4px 14px;
  font-size: 12px;
  font-weight: 500;
  color: var(--secondary);
  border-radius: 100px;
  background-color: var(--secondary-1);
}

.product-details-info .product-btns {
  align-self: flex-start;
  margin-top: 10px;
}

.product-details-food-condition {
  font-size: 14px;
  color: var(--secondary);
}

.product-details-info h3 span {
  font-size: 14px;
  font-weight: 400;
  color: var(--secondary);
}

.product-details-category-top {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
}

.btn-favorite {
  display: flex;
  color: var(--secondary);
  cursor: pointer;
}

.product-details-info-bottom {
  background-color: var(--white);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  box-shadow: 0 0 1px rgb(0 0 0 / 50%), 0 0 10px rgb(0 0 0 / 10%);
}

.product-details-nutritions {
  padding: 20px 0;
  margin: 20px 0;
  border-top: 1px solid var(--secondary-1);
  border-bottom: 1px solid var(--secondary-1);
}

.product-details-nutritions ul {
  list-style-type: none;
}

.product-details-nutritions ul li {
  font-weight: 500;
}

.product-details-nutritions ul li span {
  font-weight: 400;
  color: var(--secondary);
}

.product-details-info-title {
  font-weight: 500;
  margin-top: 20px;
}

.product-details-description {
  font-weight: 500;
}

/* About */
.about-content-grid {
  display: grid;
  grid-template-columns: 50% 50%;
}

.about-info h1 {
  margin-bottom: 20px;
}

.about-info-image img {
  display: block;
  width: 100%;
  height: auto;
}

/* Contact */
.contact-content h1 {
  margin-bottom: 20px;
}

.contact-content-form {
  max-width: 540px;
  margin-right: auto;
}

.form-name,
.form-email,
.form-message,
.form-btn {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}

.form-input {
  padding: 16px 24px;
  background-color: var(--secondary-1);
  font-family: 'Roboto', sans-serif;
  border-radius: 4px;
  margin-top: 10px;
}

.contact-form input::placeholder {
  color: var(--secondary);
}

.form-btn-submit {
  padding: 16px 24px;
  text-align: center;
  color: var(--white);
  background-color: var(--primary);
  border-radius: 4px;
  cursor: pointer;
}

/* Footer */
.footer-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 120px;
  margin-bottom: 40px;
}

.footer-content p {
  font-size: 14px;
}

.footer-content ul {
  list-style-type: none;
  display: flex;
  align-items: center;
}

.footer-content ul li:nth-child(-n + 4) {
  margin-right: 20px;
}

.footer-content ul li a {
  font-size: 14px;
}

/* Credits */
.credits p {
  margin: 20px 0;
}

.credit-link {
  font-weight: 700;
  text-decoration: underline;
}

.credits ul {
  padding-left: 16px;
}

/* Loader */
.loader {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translate(-15%, -50%);
  z-index: 9;
  width: 50px;
  height: 50px;
  border-top: 4px solid var(--black);
  border-right: 4px solid transparent;
  border-radius: 50%;
  animation: 1s spin linear infinite;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}