:root {
  --white: #ffffff;
  --black: #000000;

  --primary: #087f23;
  --primary-1: #e8f5e9;

  --secondary: #707070;
  --secondary-1: #eeeeee;
  --secondary-2: #f5f5f5;

  --accent: #ffe082;
  --accent-2: #4b2c20;
  --accent-3: #ffebee;
  --accent-4: #ba000d;
  --accent-5: #ef5350;
}

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--black);
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--black);
}

a:focus-visible {
  all: unset;
}

img {
  all: unset;
}
img:focus-visible {
  all: unset;
}

h1 {
  font-size: 36px;
  line-height: 1.2;
}

h3 {
  font-size: 20px;
}

button {
  all: unset;
}

strong {
  font-weight: 700;
}

svg {
  fill: currentColor;
}

input,
textarea {
  all: unset;
}
