@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');

:root {
  --color-white: #fff;
  --color-white-text: #fff;
  --color-neutral-100: #fafafa;
  --color-neutral-100: #f5f5f5;
  --color-neutral-300: #d4d4d4;
  --color-neutral-400: #a3a3a3;
  --color-neutral-500: #737373;
  --color-neutral-700: #404040;
  --color-neutral-800: #262626;
  --color-neutral-900: #171717;
  --color-neutral-950: #0a0a0a;
  --color-lime-100: #ecfccb;
  --color-lime-200: #d9f99d;
  --color-lime-300: #bef264;
  --color-lime-400: #a3e635;
  --color-lime-500: #84cc16;
  --color-lime-600: #65a30d;
  --color-lime-700: #4d7c0f;
  --color-lime-800: #3f6212;
  --color-lime-900: #365314;
  --color-lime-950: #1a2e05;
  --color-red-500: #ef4444;
}

body.dark {
  --color-white: #262626;
  --color-neutral-100: #171717;
  --color-neutral-500: #d4d4d4;
  --color-neutral-900: #fff;
  --color-lime-100: #14532d;
  --color-lime-900: #bbf7d0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 400;
  color: var(--color-neutral-950);
}

* {
  margin: 0;
  padding: 0;
}

*,
::after,
::before {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: var(--color-neutral-950);
}

a:focus-visible {
  all: unset;
}

img {
  all: inherit;
}

img:focus-visible {
  all: unset;
}

h1 {
  font-size: 20px;
  line-height: 1.2;
}

@media screen and (min-width: 1024px) {
  h1 {
    font-size: 36px;
  }
}

h2 {
  font-size: 28px;
}

h3 {
  font-size: 20px;
}

button {
  all: unset;
}

strong {
  font-weight: 700;
}

svg {
  fill: currentColor;
}

input,
textarea {
  all: unset;
}
